html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: black;
    background: url("./background.jpg") center fixed;
    font-family: Arial;
    font-size: 20px;
    box-sizing: border-box;
}

/* Header */

#heading {
    padding-top: 15%;
}
#heading nav p {
    text-align: center;
}

h1 {
    color: white;
    font-size: 100px;
    margin-top: 0;
    text-align: center;
}

h3 {
    color: white;
    font-size: 50px;
    margin: 10px;
    text-align: center;
}

nav a {
    padding: 10px;
    color: #00ecfe;
    font-size: 30px;

}

button {
    position: fixed; 
    bottom: 0;
    right: 0;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    background-color: #00edfe53;
    z-index: 999;
}

button a {
    text-decoration: none;
    color: white;
}

/*PAGES*/

.pages { 
    height: 100vh;
}

/*About*/

#skills, #education {
    border: solid 2px white;
    color: white;
    float: left;
    background-color: #00edfe63;
    border-radius: 25px;
    width: 45%;
    height: 400px;
    margin: 0 2%;
    text-align: center;
}

#skills ul {
    list-style: none;
}

/*Experience*/

#experience {
    color: white;
    width: 100%;
    padding-top: 20px;
}

.pages .experience-examples {
    text-align: center;
    display: inline-block;
    width: 32%;
    margin-top: 5%;
}

.pages .experience-examples ul {
    text-align: center;
    list-style-position: inside;
}

.experience-img {
    width:  30%;
    margin-left: 2%;
    height: 30%;
    border-radius: 25px;
    margin-top: 1%;
    float: left;
}

@media screen and (max-width: 600px) {
    .pages .experience-examples .experience-img  {
        width: 100%;
    }
}


/*Portfolio*/

#portfolio table {
    color: white;
    text-align: center;
}

.portfolio-project {
    height: 50%;
    width: 70%;
    border: solid 1px #00ecfe;
    border-radius: 25px;
    opacity: 1;
}

.portfolio-project:hover {
    opacity: 0.3;
}

/*Contact*/

div#contact {
    position: relative;
}

.socials {
    margin: 30px;
}

form {
    margin-top: 50px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form #Email, #Name, #submit {
    border-radius: 25px;
}

form #Message {
    border-radius: 15px;
}

